<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- Turn this ON to enable logging to Win form dialog -->
    <!--<add key="GUILogEnabled" value="true" />-->
    
    <!-- Turn this ON to enable logging (to file) alltogether (recommended) -->
    <add key="FileLogEnabled" value="true" />
    
    <!-- This URL should point to ADEventService service itself -->
    <add key="ServiceBaseURL" value="http://localhost:8300" />
    
    <!-- This URL should ALSO point to ADEventService service. It's used for sending events back to itself for purpose of runtime testing -->
    <add key="ADEventServiceURL" value="http://localhost:8300/api/v1/rawevent" />
    
    <!-- Turn this ON to echo housemate visits - basically just to show that service is running -->
    <!--<add key="EchoHousemateVisits" value="true" />-->
    
    <!-- Turn this ON to enable detailed circuit-breaker logging -->
    <!--<add key="LogCBStateChanges" value="true" />-->
    
    <!-- Turn this ON to log POST resonses from ADEventService -->
    <add key="LogHttpClientResponse" value="false" />
    
    <!-- Turn this ON to log when events are transmitted to adapters -->
    <add key="LogEventsTransmitted" value="false" />
    
    <!-- Set this to a unique GUID after installation. Every instance of GK services MUST be assigned a unique APP ID. -->
    <add key="ApplicationID" value="C30ED54C-D849-448A-974B-56BD872EC9E3" />
    
    <!-- Set this to a APP short name. While it's NOT strictly mandated, it's best to choose a unique name
    for each ADEx service (satellites, eventservice, adapters etc) as it's used to create and identify queues. -->
    <add key="ApplicationPrefix" value="ADESVC" />
    
    <!-- Turn this ON to log when events are received from satellites -->
    <add key="LogRawEventsReceived" value="true" />
    
    <!-- Turn this ON to log loopback / NULL notifications -->
    <!--<add key="LogNULLNotifications" value="true"/>-->
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>