<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- Turn this ON to enable logging (to file) alltogether (recommended) -->
  <add key="FileLogEnabled" value="true" />

  <!-- This URL should point to ADEventService service itself -->
  <add key="ServiceBaseURL" value="http://localhost:8300" />

  <!-- This URL should ALSO point to ADEventService service. It's used for sending events back to itself for purpose of runtime testing -->
  <add key="ADEventServiceURL" value="http://localhost:8300/api/v1/rawevent" />

  <!-- Turn this ON to echo housemate visits - basically just to show that service is running -->
  <!--<add key="EchoHousemateVisits" value="true" />-->

  <!-- Turn this ON to enable detailed circuit-breaker logging -->
  <!--<add key="LogCBStateChanges" value="true" />-->

  <!-- Turn this ON to log POST resonses from ADEventService -->
  <!--<add key="LogHttpClientResponse" value="true" />-->

  <!-- Turn this ON to log when events are transmitted to adapters -->
  <!--<add key="LogEventsTransmitted" value="true" />-->

  <!-- Turn this ON to transmit STSTEST01 events -->
  <add key="STSTEST" value="true" />

  <!-- Set this to a unique GUID after installation. Every instance of GK services MUST be assigned a unique APP ID. -->
  <add key="ApplicationID" value="B072EFA1-9FD1-464F-AB1E-0F3E11B3ABE1" />

  <!-- Set this to a APP short name. While it's NOT strictly mandated, it's best to choose a unique name
    for each ADEx service (satellites, eventservice, adapters etc) as it's used to create and identify queues. -->
  <add key="ApplicationPrefix" value="ADESVC" />

  <!-- Turn this ON to log when events are received from satellites. All events are logged disregarded possible cache hits. -->
  <add key="LogRawEventsReceived" value="true" />

  <!-- Turn this ON to log loopback / NULL notifications -->
  <!--<add key="LogNULLNotifications" value="true"/>-->

  <!-- Turn this ON to set up an active subscription to the ADx sample adapter (listening on endpoint http://localhost:8810/api/v1/notifications). -->
  <add key="EnableADxSampleSubscription" value="true"/>

  <!-- Turn this ON to enable cache locks. DON'T touch this, unless you know what youre are doing! -->
  <!--<add key="EnableCacheLocks" value="true"/>-->

</appSettings>
