<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- Turn this ON to enable logging (to file) alltogether (recommended) -->
  <add key="FileLogEnabled" value="true" />

  <!-- This URL should point to ADEventSatellite service itself -->
  <add key="ServiceBaseURL" value="http://localhost:8333" />

  <!-- This URL should point to ADEventService service -->
  <add key="ADEventServiceURL" value="http://localhost:8300/api/v1/rawevent" />

  <!-- Turn this ON to echo housemate visits - basically just to show that service is running -->
  <!--<add key="EchoHousemateVisits" value="true" />-->

  <!-- Turn this ON to enable detailed circuit-breaker logging -->
  <!--<add key="LogCBStateChanges" value="true" />-->

  <!-- Turn this ON to log POST resonses from ADEventService -->
  <!--<add key="LogHttpClientResponse" value="true" />-->

  <!-- Turn this ON to log when events are transmitted to ADEventService -->
  <!--<add key="LogEventsTransmitted" value="true" />-->

  <!-- Set this to a unique GUID after installation. Every instance of ADEventSatellite MUST be assigned a unique APP ID. -->
  <add key="ApplicationID" value="6AEA2A1F-6870-42CF-96CD-1D129FC1E955" />

  <!-- Set this to a APP short name. While it's NOT strictly mandated, it's best to choose a unique name
    for each ADEx service (satellites, eventservice, adapters etc) as it's used to create and identify queues. -->
  <add key="ApplicationPrefix" value="ADESATL-001" />

  <!-- Misc settings to test AD event trigger stuff. -->
  <!--<add key="LogNotificationEvents" value="true" />-->
  <!--<add key="LogCacheHits" value="true" />-->
  <!--<add key="DropADEEvents" value="true"/>-->

  <!-- Turn this ON to enable cache locks. DON'T touch this, unless you know what youre are doing! -->
  <!--<add key="EnableCacheLocks" value="true"/>-->

</appSettings>
